@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Anek Latin', sans-serif;
}
/* 
Paleta de colores
naranjo: #FD7F02
negro: #000000
blanco: #FAFAFA
marron: #673036
*/

header {
  position: sticky;
  top: 0;
  left: 0;
  background: #FD7F02;
  text-align: center;
  border-bottom: #000000 3px solid;
}
header img,ul{
  display: inline-block;

}

header img.logotipo{
  width: 100px;
  position: relative;
  right: 32%;
  top: 15px;
}

header ul {
  display: inline-block;

}

header ul li{
  display: inline-block;
}

header ul li.contenedor{
  border: 1px black solid;
  background-color: #000000;
  color: #FAFAFA;
  padding: 10px;
  position: relative;
  bottom: 20px;
  font-size: x-large;
}

a {
  color: #fafafa
}

header div.buscador{
  text-align: left;
  margin: 10px 30px 0px 30px
}

header div input{
  width: 100%;
  margin: 5px 0px 10px 0px;
  border: 2px solid black;
}

header div label{
  border: 1px black solid;
  background-color: #000000;
  color: #FAFAFA;
  padding: 5px;
}

/* ACA TERMINA EL CSS DEL HEADER */

main .destacado{ 
  text-align: center;
}

/* base de productos */
.producto {
  background-color: #414833;
  color: #ffff;
  width: 200px;
  height: 300px;
  display: inline-block;
  margin:10px;
  border: 2px black solid;
  text-shadow: 0 0 2px black;
  
}

/* Productos destacados */

main .populares{
  text-align: center;
  font-size: x-large;
  margin-bottom: 55px;
}


.popuUno {
  background-image: url(../img/productouno.jpg);
  background-size: 200px;
  height: 300px;
}

.popuDos {
  background-image: url(../img/productodos.jpg);
  background-size: 200px;
  height: 300px;
}

.popuTres {
  background-image: url(../img/productotres.jpg);
  background-size: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.popuCuatro {
  background-image: url(../img/productocuatro.jpg);
  background-size: 200px;
  height: 300px;
}

.popuCinco {
  background-image: url(../img/productocinco.jpg);
  background-size: 200px;
  height: 300px;
}

/* Fin de los productos destacados */

/* Productos recientes */
main .recientes{
  text-align: center;
  font-size: x-large;
  margin-bottom: 75px;
  margin-top: 45px;
}


.reciUno {
  background-image: url(../img/productouno.jpg);
  background-size: 200px;
  height: 300px;
}

.reciDos {
  background-image: url(../img/productodos.jpg);
  background-size: 200px;
  height: 300px;
}

.reciTres {
  background-image: url(../img/productotres.jpg);
  background-size: 200px;
  height: 300px;
  background-repeat: no-repeat;
}

.reciCuatro {
  background-image: url(../img/productocuatro.jpg);
  background-size: 200px;
  height: 300px;
}

.reciCinco {
  background-image: url(../img/productocinco.jpg);
  background-size: 200px;
  height: 300px;
}

/* Fin de los productos recientes */

/* leyenda */
.leyenda {
  text-align: center;
  color: #000000;
  margin: 10px;
  padding: 5px;
}

.ubicacion{
  background-color: #FD7F02;
  padding: 50px;
  border: 5px solid black;
  text-align: center;
  font-size: x-large;
}

/* fin de ubicacion */
/* politicas de garantia */
.garantia{
  color: #FAFAFA;
  font-size: large;
  background-color: #673036;
  padding: 20px;
  border-bottom: 3px solid black;
  text-shadow: 0 0 5px black;
  padding-bottom: 40px;
}

footer{
  background-color: #000000;
  color: #FAFAFA;
  padding: 10px;
}


.wsp{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer .wsp img{
  width: 100px;
}

/* secciones! */

main .important h1{
  text-align: center;
  color: #FAFAFA;
  background-color: #000000;
  padding: 10px;

}
main .important .ubi {
  padding-left: 100px;
  display: inline-block;
  padding-top: 50px;
}


main .important .ubi .text {
  width: 50%;
  position: relative;
  bottom: 400px; 
  text-align: justify;
  left: 33%;
  margin-left: 100px;
  border: #000000 5px solid;
  padding: 30px;
  background-color: #FAFAFA;
  text-shadow: #000000 0px 0px 2px;
  color: #000000;
}

.cafecito{
  width: 100%;
  height: 70px;
  border-top: #000000 5px solid;
  border-bottom: #000000 5px solid;
  background-color: #673036;
}

/* catalogo */
.catalogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
}

.titulo{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #673036;
  color: #FAFAFA;
  text-shadow: black 2px 2px;
  margin-bottom: px;
  border-bottom: #000000 solid 3px;
}

/* contacto */
.formulario{
  padding: 50px;
  text-align: justify;
  background-color: #FAFAFA;
  color: #000000;
  text-shadow: #FAFAFA 0px 0px 2px;
  font-weight: bold;
  padding-bottom: 200px;
}

.formularioInterno{
  padding: 35px;
  background-color: #FAFAFA;
  border: #000000 3px solid;
}

.formulario input{
  display: block;
  width: 40%;
  height: 30px;
}

.formularioInterno h2{
  padding-bottom: 25px;
}


/* faq */
.faq {
  display: block;
  padding: 30px 5% 50px 5%;
  width: 80%;
}
.faq .articulo {
padding: 5px 0px 5px 0px;
margin: 30px;

}

.articulo h2{
  padding: 5px 0px 5px 0px;
  font-size: 2rem;
}

.articulo iframe{
  padding: 10px;
}


